# Ignore specific presentation file
Rushil_Mital_2021ES10184_Prediction_Of_IDT_Using_Machine_Learning_Models.pptx

# Ignore specific report file
Rushil_Mital_2021ES10184_Prediction_Of_IDT_Via_Machine_Learning_Techniques_Report.pdf
